.navbar-brand span{
    color: blueviolet;
}

body{
    background-color: black;
}

.first_left_side{
    align-content: center;    
}
h1 span{
    color: blueviolet;    
 }

.boton{
    padding: 20px;
}

p{
    text-align: center;
}
h1{
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.first_img_right_side{
    min-height: 800px;
    background-image: url(../images/couple.jpg);
    background-size: cover;
    background-position: center;
   
}

footer{
    padding-top: 20px;
    text-align: center;
}

.container-fluid{
    color: white;
}

h2{
    text-align: center;
    padding-top: 20PX;
}

.col{
    background-image: url(../images/proposito.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    align-content:center;
    color: rgb(223, 232, 232);
    text-shadow: 0 0 5px black ;
}

section span{
    font-size: 40px;
}

a{
    text-decoration: none;
    color: white;
}
